<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<h2>Mis Trabajos</h2>
<iframe title="Dashboard 2" width="500px" height="373.5px" 
    src="https://app.powerbi.com/view?r=eyJrIjoiNjJmMjhhNmEtMGNmNy00NzU2LWE0NzUtNTQzZWI1Mjk2Y2RjIiwidCI6IjNkN2JiNmRiLTkzZTMtNGU3YS05MDk0LTZlMTNmMGU4NjAzYiJ9"
    frameborder="0" allowFullScreen="true" ></iframe> 
    <iframe title="anallisis_atencion_hospitalaria" width="500px" height="373.5px" src="https://app.powerbi.com/view?r=eyJrIjoiZGY0ZTYzYzYtNDZhMC00MjdjLWI1NTAtY2Y3MjMxMDhlMmVkIiwidCI6IjNkN2JiNmRiLTkzZTMtNGU3YS05MDk0LTZlMTNmMGU4NjAzYiJ9" 
    frameborder="0" allowFullScreen="true"></iframe>  
    <iframe title="Dashboart3" width="500px" height="373.5px" src="https://app.powerbi.com/view?r=eyJrIjoiZDllZTkzYWQtNTYxZC00ZTgwLTliMWQtZjBjYmEyNTM1MDJkIiwidCI6IjNkN2JiNmRiLTkzZTMtNGU3YS05MDk0LTZlMTNmMGU4NjAzYiJ9"
    frameborder="0" allowFullScreen="true"></iframe>     
{% endblock%}